{{/* Reading Progress Bar */}}
<div id="reading-progress" class="reading-progress">
    <div id="progress-bar" class="progress-bar"></div>
</div>

{{/* Back to Top Button */}}
<button id="back-to-top" class="back-to-top" onclick="scrollToTop()">
    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <path d="18 15l-6-6-6 6"/>
    </svg>
</button>

{{/* Code Block Enhancement */}}
<div id="copy-notification" class="copy-notification">Copied to clipboard!</div>